# Telegram Bot Credentials (from @BotFather)
BOT_TOKEN=123456789:ABCdefGhIJKlmNoPQRsTUVwxyZ

# HTTP Server Configuration for files > 50MB (served from VPS)
# Change localhost to your VPS public IP address or Domain Name
PUBLIC_URL=http://cdn.thienle.id.vn
SERVER_PORT=:8080

# Performance Settings
MAX_CONCURRENT=3
